<launch>
  <!-- controllable args for versions of localization -->
  <arg name="mc" default="false" />
  <arg name="num_particles" default="1000" />

  <include file="$(find asl_turtlebot)/launch/root.launch">
    <arg name="world" value="maze" />
    <arg name="gmapping" value="false" />
    <arg name="x_pos" value="1.0" />
    <arg name="y_pos" value="-0.5" />
    <arg name="z_pos" value="-1.5" />
    <arg name="model" value="asl_turtlebot_hw4_maze" />
    <arg name="rviz" value="hw4_maze" />
  </include>

  <node pkg="asl_turtlebot" type="localization.py" name="localization" output="screen" launch-prefix="bash -c 'sleep 1.0; $0 $@' ">
    <param name="/mc" type="bool" value="$(arg mc)" />
    <param name="/num_particles" type="int" value="$(arg num_particles)" />
  </node>
</launch>
