<launch>
  <include file="$(find asl_turtlebot)/launch/root.launch">
    <arg name="world" default=""/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="rviz" default="section4_demo"/>
    <!-- we're going to let turtlebot3 setup the sim -->
    <arg name="sim" default="false"/> 
  </include>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />
</launch>
