<launch>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch" />
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

  <node pkg="topic_tools" type="throttle" name="velodyne_throttler" args="messages /velodyne_points 3" />

  <!-- goal commander -->
  <node pkg="asl_turtlebot" type="goal_commander.py" name="goal_commander" />

  <!-- gmapping -->
  <include file="$(find asl_turtlebot)/launch/config/gmapping_config.launch" />

  <!-- x: -180, y: -90 -->
  <node pkg="tf" type="static_transform_publisher" name="velodyne_broadcaster" args="0.0175 0 0.215 0 0 0 1 base_footprint velodyne 100" />

  <!-- TODO: camera stuff -->
</launch>
