<launch>
  <rosparam param="sim">false</rosparam>
  <rosparam param="map">true</rosparam>
  
  <node pkg="asl_turtlebot" type="navigator.py" name="turtlebot_navigator" />
  <node pkg="asl_turtlebot" type="pose_controller.py" name="turtlebot_pose_controller" />
  <node pkg="asl_turtlebot" type="cmd_nav_commander.py" name="cmd_nav_commander" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asl_turtlebot)/rviz/project_sim.rviz"/>
</launch>
