<launch>
  <arg name="world_file"  default="$(find asl_turtlebot)/world/maze.world"/>
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="-1.5"/>
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find asl_turtlebot)/urdf/turtlebot3_burger_noisy_scan.urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asl_turtlebot)/rviz/localization.rviz"/>
</launch>
