<launch> 
  <arg name="sim" default="true"/> 
  <arg name="gui" default="true"/> 
  <arg name="rviz" default="true"/> 
  <arg name="world" default="signs_gmapping"/> 

  <rosparam param="sim"   subst_value="true">$(arg sim)</rosparam>
  <rosparam param="map"   >true</rosparam>
  <rosparam param="use_tf">false</rosparam>
  <rosparam param="rviz" subst_value="true">$(arg rviz)</rosparam>

  <arg name="model" default="burger" doc="model type [burger, waffle]"/>
  <param name="robot_description" command="$(find xacro)/xacro $(find asl_turtlebot)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <include file="$(find asl_turtlebot)/launch/config/gmapping_config.launch" />

  <node pkg="asl_turtlebot" type="detector.py" name="turtlebot_detector" />
  <node pkg="asl_turtlebot" type="pose_controller_nav.py" name="turtlebot_pose_controller" />
  <node pkg="asl_turtlebot" type="goal_commander.py" name="goal_commander" />

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asl_turtlebot)/rviz/signs_gmapping.rviz"/>
  </group>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
  </node>


  <group if="$(arg sim)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find asl_turtlebot)/world/$(arg world).world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="debug" value="false"/>
      <arg name="gui" value="$(arg gui)"/>
    </include>
    <node pkg="asl_turtlebot" type="gazebo_plot.py" name="gazebo_plot" />

    <!--<arg name="x_pos" default="0.0"/>-->
    <!--<arg name="y_pos" default="0.0"/>-->
    <!--<arg name="z_pos" default="0.0"/>-->

    <arg name="x_pos" default="3.35"/>
    <arg name="y_pos" default="2.4"/>
    <arg name="z_pos" default="0.0"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  </group>

</launch>
