 <launch>
    <rosparam param="sim">false</rosparam>
    <rosparam param="map">false</rosparam>
    <rosparam param="use_tf">true</rosparam>
    <rosparam param="rviz">true</rosparam>

    <node pkg="asl_turtlebot" type="detector.py" name="turtlebot_detector" />
    <node pkg="asl_turtlebot" type="pose_controller.py" name="turtlebot_pose_controller" />
    <node pkg="asl_turtlebot" type="gazebo_plot.py" name="gazebo_plot" />

</launch>
